@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
    outline: none;
    scroll-behavior: smooth;
}

p {
    font-size: 22px;
    color: #465b82;
    margin: 15px 0 20px 0;
}

h2 {
    font-size: 46px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 5px;
}

body {
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    background: #586f7c;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0; left:0;
    z-index: 100;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}


#navbar {
    display: flex;  
    align-items: center;
    justify-content: center;
}

#navbar li{
    padding: 15px 30px;
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all .5s ease;
}

#navbar li a:hover{
    color: #fff;
    font-size: 20px;
}

#navbar li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin-top: 2px;
    transition: .4s linear;
}

#navbar li a:hover::after{
    width: 100%;
}

#header .icons i{
    margin-right: 12px;
    color: #fff;
    font-size: 20px;
    transition: all .5s ease;
}

#header .icons i:hover{
    color: black;
    font-size: 25px;
}

#mobile{
    display: none;
}

#header .search-form{
    position: absolute;
    top:105%; right: 2%;
    background: #fff;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s linear;
    box-shadow: 2px 2px 10px #222;
}

#header .search-form.active{
    transform: scaleY(1);
}

#header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

#header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

#header .search-form label:hover{
    color:var(--main-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:-200%; right:0;
    z-index: 10000;
    height:100%;
    width:100%;
    transition:  .3s linear;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    background:#97a97c;
    border:0.5px solid black;
    border-radius: 20px;
    width:40rem;
    padding:2rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .signBtn{
    padding: 10px 0;
    width: 100%;
    margin: 20px 0;
    font-size: 20px;
    border: 1px solid #222;
    background-color: #cfe1b9;
    border-radius: 10px;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 30px;
    color:var(--black);
    cursor: pointer;
}

.shopCart {
    position: fixed;
    top:12%; right: -100%;
    background-color: #fff;
    width: 400px;
    z-index: 10000;
    transition: .7s linear;
}

.shopCart.active{
    top: 12%; right: 1%;
}

.shopCart .title h3{
    padding: 20px 0 0 0;
    font-size: 18px;
    text-align: center;
}

.shopCart .boxCon{
    margin-top: 20px;
    padding: 0 10px;
}

.shopCart .boxCon .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}

.shopCart img {
    width: 100px;
    border-radius: 50%;
    object-fit: contain;
    padding: 10px;
}

.shopCart .boxquan{
    width: 50px;
    text-align: center;
}

.shopCart .boxdel{
    margin-left: 5px;
}

.shopCart .boxdetail{
    text-align: center;
}

.shopCart .total{
    text-align: center;
    border-top: 1px solid #222;
}

.shopCart .total p{
    font-size: 20px;
    color: red;
}

.shopCart .cartBuy{
    margin: 0 auto;
    text-align: center;
}

.shopCart Button{
    text-align: center;
    padding: 5px 40px;
    margin-bottom: 20px;
}




#ad {
    background-image: url(/images/model7.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#ad .slogan{
    position: relative;
    top: 27%; right: 2%;
    text-align: right;
}

#ad h2 {
    font-size: 60px;
    line-height: 1.7;
    color: #000000;
    margin-bottom: 0px;
}

#ad .title{
    margin-top: -40px;
}

#product {
    background-color: #a4ac86;
    padding: 3% 20px 3% 20px;
    width: 100%;
    margin: auto;
}

#product .title {
    text-align: center;
    padding: 10px 0;
    margin-top: 0px;
}

#product .title p{
    font-weight: 600;
    font-size: 24px;
}

#product .container{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#product .container .cartBtn{
    position: relative;
    top: 150px;
}

#product .container .cartBtn i{
    font-size: 25px;
    display: none;
}

#product .box {
    padding: 5px;
    flex-basis: 22%;
    margin-left: 20px;  
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    border-radius: 25px;
    outline: 0px solid #fff;
    transition: .5s linear;
}

#product .box:hover{
    border: 1px solid #222;
    background-color: #ced4da;
    transition: .7s linear;
    box-shadow: none;
}


#product .box h3{
    font-size: 22px;
}

#product .box p{
    font-size: 18px;
    padding: 10px 0;
    margin: 5px;
    font-weight: 500;
    color: #222;
}

#product .pic{
    padding: 10px;
}

#product img {
    width: 100%;
    height: 350px;
    border-radius: 50%;
}

#product img:hover{
    cursor: pointer;
    transition: all .5s linear;
    opacity: .7;
}

#product  h3 span{
    font-size: 14px;
}

#product h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

#customer{
    margin: auto;
    width: 100%;
    padding: 3% 0 0 0;
    text-align: center;
    background-color: #97a97c;
}

#customer .title {
    text-align: center;
    padding: 10px 0;
    margin-top: 0px;
}

#customer .title p{
    font-weight: 600;
    font-size: 24px;
    color: #465b82;
}

#customer .color {
    margin: auto;
    width: 70%;
    padding: 0;
    border-radius: 20px 20px 5px 5px;
    height: 750px;
}

#customer .box{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

#customer .profile{
    text-align: center;
}

#customer img{
    border-radius: 50%;
    height: 225px;   
}

#customer .rvs{
    flex-direction: row-reverse;
}

#customer .slip1{
    position: relative;
    bottom: 100px; right:0;
}

#customer .slip2{
    position: relative;
    bottom: 200px; right:0;
}

#customer .content{
    margin: 20px;
    background-color: #a5a58d;
    padding: 10px 60px;
    width: 50%;
    border-radius: 10px;
    text-align: left;
    box-shadow: 5px 5px 10px #888888;
    display: inline;
}

#customer .content p{
    color: #222;
}

#aboutUs{
    padding: 3% 0 5% 0;
    width: 100%;
    text-align: center;
    background-color: #a4ac86;
}

#aboutUs .title{
    text-align: center;
}

#aboutUs .box{
    width: 70%;
    background-color: #bdbd9b;
    margin: auto;
    margin-top: 50px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    
}

#aboutUs .box .box2{
    text-align: center;
    line-height: 2;
}

#aboutUs .box .box2 p{
    color: black;
    font-size: 22px;
}

#aboutUs .box .pic1 {
    height: 400px;
    position: relative;
    top:50px;
    left:-10px;
}

#aboutUs .box .pic2{
    height: 350px;
    position: relative;
    top: 50px;
    right:-10px;
}

#footer {
    width: 100%;
    background-color: #97a97c;
    padding: 30px 10% 0px 10%;
}

#footer .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#footer .h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

#footer .part1{
    flex-basis: 30%;
}

#footer .part1 li{
    list-style: none;
    margin-bottom: 5px;
}

#footer .part1 ul li a{
    text-decoration: none;
    color: #465b82;
    letter-spacing: 1.5px;
    font-weight: 520;
}

#footer .part2 {
    flex-basis: 30%;
}

#footer .part2 input{
    width: 100%;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #222;
    margin-top: 5px;
    outline: none;
    background-color: #97a97c;
}

#footer .part2 input::placeholder{
    color: #fff;
    font-size: 16px;
}

#footer .part2 button{
    margin-top: 20px;
    background: transparent;
    border:  1px solid #222;
    border-radius: 30px;
    padding: 5px 30px;
    font-size: 16px;
}

#footer .part3 {
    flex-basis: 30%;
}

#footer .part3 p{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 530;
    margin-top: 30px;
    color: #465b82;
}

#footer .icons i{
    margin-right: 10px;
    font-size: 20px;
    color: #222;
}

#footer .copyright{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

@media (max-width:1080px){

    #ad h2{
        font-size: 40px;
    }

    #product img {
        height: 200px;
    }

    #product .box p{
        font-size: 16px;
    }

    #customer img {
        height: 150px;
    }

    #customer .content{
        padding: 5px 40px;
    }

    #customer .content p {
        font-size: 16px;
    }

    #aboutUs .box .box2 p{
        font-size: 18px;
    }

    #aboutUs .box .pic1 {
        height: 250px;
    }

    #aboutUs .box .pic2 {
        height: 220px;
    }

    
}





